apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: default
type: Opaque
data:
  # Dummy Base64 encoded strings 
  # Replace these before deploying
  DB_USER: "dXNlcm5hbWU=" # "username"
  DB_PASS: "cGFzc3dvcmQ=" # "password"